<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>超市账单管理系统</title>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<!--头部-->
    <header class="publicHeader">
        <h1>超市账单管理系统</h1>
        <div class="publicHeaderR">
            <p><span>下午好！</span><span style="color: #fff21b"> Admin</span> , 欢迎你！</p>
            <a href="login">退出</a>
        </div>
    </header>
<!--时间-->
    <section class="publicTime">
        <span id="time">2015年1月1日 11:11  星期一</span>
        <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
    </section>
<!--主体内容-->
    <section class="publicMian ">
        <div class="left">
            <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
            <nav>
                <ul class="list">
                    <li id="active"><a href="billList">账单管理</a></li>
                    <li><a href="providerList">供应商管理</a></li>
                    <li><a href="userList">用户管理</a></li>
                    <li><a href="password">密码修改</a></li>
                    <li><a href="login">退出系统</a></li>
                </ul>
            </nav>
        </div>
        <div class="right">
            <div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>账单管理页面</span>
            </div>
            <div class="search">
                <form action="/billList">
                <span>商品名称：</span>
                <input type="text" name="name" th:value="${name}" placeholder="请输入商品的名称"/>
                
                <span>供应商：</span>
                <select name="tigong" >
                    <option value="">--请选择--</option>
                    <option value="">北京市粮油总公司</option>
                    <option value="">邯郸市五得利面粉厂</option>
                </select>

                <span>是否付款：</span>
                <select name="fukuan">
                    <option value="">--请选择--</option>
                    <option value="">已付款</option>
                    <option value="">未付款</option>
                </select>

                <input type="submit" value="查询"/>
                <a href="billAdd">添加订单</a>
                </form>
            </div>
            <!--账单表格 样式和供应商公用-->
            <table class="providerTable" cellpadding="0" cellspacing="0">
                <tr class="firstTr">
                    <th width="10%">账单编码</th>
                    <th width="20%">商品名称</th>
                    <th width="10%">供应商</th>
                    <th width="10%">账单金额</th>
                    <th width="10%">是否付款</th>
                    <th width="10%">创建时间</th>
                    <th width="30%">操作</th>
                </tr>
                <tr  th:each="l:${PageInfoBill.list}">
                    <td th:text="${l.billCode}">213</td>
                    <td th:text="${l.productName}">123</td>
                    <td th:text="${l.smbmsProvider.proName}">北京市粮油总公司</td>
                    <td th:text="${l.productCount}">22.00</td>
                    <td th:switch="${l.isPayment}">
                        <span th:case="1">未付款</span>
                        <span th:case="2">已付款</span>
                    </td>
                    <td th:text="${#dates.format(l.creationDate,'yyyy-MM-dd')}">2015-11-12</td>
                    <td>
                        <a th:href="@{/billView(id=${l.id})}"><img src="images/read.png" alt="查看" title="查看"/></a>
                        <a th:href="@{/billUpdate(id=${l.id})}"><img src="images/xiugai.png" alt="修改" title="修改"/></a>
                        <a href="javascript:void(0)" th:onclick="|javascript:a('${l.id}')|" class="removeUser"><img src="images/schu.png" alt="删除" title="删除"/></a>
                    </td>
                </tr>
            </table>
            <div style="text-align: center">
                共<span th:text="${PageInfoBill.total}"></span>条记录,1/5/<span th:text="${PageInfoBill.pages}"></span>
                <a th:if="${PageInfoBill.pageNum==1}" href="javascript:void(0)">上一页</a>
                <a th:if="${PageInfoBill.pageNum!=1}" th:href="@{/billList(PageNum=${PageInfoBill.pageNum}-1,name=${name})}">上一页</a>
                <span th:each="i:${#numbers.sequence(1,PageInfoBill.pages)}">
                    <a th:href="@{/userList(PageNum=${i})}" th:text="${i}"></a>
                </span>
                <a th:if="${PageInfoBill.PageNum}!=${PageInfoBill.pages}" th:href="@{/billList(PageNum=${PageInfoBill.pageNum}+1,name=${name})}">下一页</a>
                <a th:if="${PageInfoBill.pageNum}==${PageInfoBill.pages}" href="javascript:void(0)">下一页</a>
            </div>
        </div>
    </section>

<!--点击删除按钮后弹出的页面-->
<div class="zhezhao"></div>
<div class="remove" id="removeBi">
    <div class="removerChid">
        <h2>提示</h2>
        <div class="removeMain">
            <p>你确定要删除该订单吗？</p>
            <a href="javascript:void(0)" id="yes" th:onclick="b()">确定</a>
                <a href="javascript:void(0)" id="no">取消</a>
        </div>
    </div>
</div>

    <footer class="footer">
        版权归千锋教育
    </footer>

<script src="js/jquery.js"></script>
<script src="js/js.js"></script>
<script src="js/time.js"></script>
<script>
    var ids;
    function a(id){
        ids=id;
    }
    function b(){
        window.location.href="/deleteBill?id="+ids
    }
</script>
</body>
</html>